@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(240, 10%, 3.9%);
    --button-bg: hsl(240, 5.9%, 10%);
    --button-text: hsl(0, 0%, 98%);
    --button-hover-bg: hsl(240, 5.9%, 20%);
  }

  .dark {
    --background: hsl(240, 10%, 3.9%);
    --foreground: hsl(0, 0%, 98%);
    --button-bg: hsl(0, 0%, 98%);
    --button-text: hsl(240, 5.9%, 10%);
    --button-hover-bg: hsl(0, 0%, 90%);
  }
}
